{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	
	
	{% if items !=[] %}	
		
				<div class="col-xs-4">
						<h4>Catagories</h4>
						{% for cat in catagory %}
					   
						   <a href = "{{url_for('showMenu', catagory_name = cat.name)}}">
							   <div class="row">
								   
									   <div class=" restaurant-list">
										   <h3>{{cat.name}}</h3>
									   </div>
									   
								   <div class="col-md-1"></div>
							   </div>
						   </a>
						{% endfor %}
				</div>
				<div class="col-xs-2"></div>
				
			<div class="col-xs-4">
				<h4>{{catagory_name}} has {{rows}} items:</h4>
					{% for i in items %}
					   <a href = "{{url_for('showItem', catagory_name=catagory_name,item_name = i.name)}}">
							<div class=" restaurant-list">
								<h3>{{i.name}}</h3>
								
								
							</div>
						</a>	
						
					{% endfor %}
			</div>
			
			
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
